github_username      = "{{github.github_username}}"
github_email         = "{{github.github_email}}"
github_token         = "{{github.github_token}}"
github_webhook_token = "{{github.github_webhook_token}}"
github_org           = "{{github.github_org}}"
github_owner         = "{{github.github_owner}}"
github_team          = "{{github.github_team}}"
dockerhub_username   = "{{github.dockerhub_username}}"
dockerhub_password   = "{{github.dockerhub_password}}"
dockerhub_token      = "{{github.dockerhub_token}}"
terraform_version    = "{{terraform.terraform_version}}"
gha_aws = {
  access_key_id = "{{github.gha_aws_access_key_id}}"
  secret_access_key = "{{github.gha_aws_secret_access_key}}"
  safeshout_mgmt_access_key_id = "{{github.gha_safeshout_mgmt_aws_access_key_id}}"
  safeshout_mgmt_secret_access_key = "{{github.gha_safeshout_mgmt_aws_secret_access_key}}"
  slack_build_notifications_webhook = "{{github.slack_build_notifications_webhook}}"
  slack_engineering_group_id = "{{github.slack_engineering_group_id}}"
}
