variable "assume_role" {
  default = "{{terraform.terraform_assume_role}}"
}

variable "region" {
  default = "{{terraform.state_file_region}}"
}

variable "github_username" {}
variable "github_email" {}
variable "github_token" {}
variable "github_webhook_token" {}
variable "github_org" {}
variable "github_owner" {}
variable "github_team" {}
variable "dockerhub_username" {}
variable "dockerhub_password" {}
variable "terraform_version" {}
