variable "assume_role" {
  default = "{{terraform.terraform_assume_role}}"
}

variable "region" {
  default = "{{terraform.state_file_region}}"
}

variable "github_username" {}
variable "github_email" {}
variable "github_token" {}
variable "github_webhook_token" {}
variable "github_org" {}
variable "github_owner" {}
variable "github_team" {}
variable "dockerhub_username" {}
variable "dockerhub_password" {}
variable "dockerhub_token" {}
variable "terraform_version" {}
variable "gha_aws" {
  type = object({
    access_key_id     = string
    secret_access_key = string
  })
  description = "AWS access key and secret for GitHub Actions deployment"
}
